<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error Page</title>
 
</head>
<body>
    
<div class="login-page">
    <div class="form msg404">
        <div style="border: 2px dotted red;">
            <h1 style="color: #ff0000; text-align: center;">404 Error Page : <small>Url not found</small></h1>
        </div>
    </div>
</div>    
</body>
</html>