<!DOCTYPE html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta author="MD SHAFIQUL ISLAM">
        <title>Express Assignment</title>   
 
    </head>
    <body>
    
        <div id="myDIV" class="content">
            
            <div class="col1">
                <h2>My Form (DOM assignment using for Cookies) <i class="fas fa-cookie"></i></h2>
            </div>
            <div class="col2">
                <h4>Welcome,
                    <%= username %>!
                </h4>
                <p>Do you want to leave the page? <a style="display: inline-block;" class="btn logout" href="/logout">Logout</a></p>
            </div>
        </div>
        
        
        
        <div style="clear: both; float: left; width: 100%;">
            <form id="myForm" action="cookie" method="post">
                <h4>Name : </h4>
                <input type="text" id="textfield" name="textfield" value="Shafiq" placeholder="Enter any text">
                <h4 class="degree">Degree:</h4>
                <input type="radio" name="degree" value="Graduate" id="radio1" class="radios">
                <label class="ival">Graduate</label>
                <input id="radio2" class="radios" name="degree" value="Post-Graduate" type="radio">
                <label class="ival">Post-Graduate</label>
                <input id="radio3" class="radios" name="degree" value="TM" type="radio">
                <label class="ival">Meditation</label>
                
                <h4 id="courseheader">Select Courses:</h4>
                <div id="chkBoxes">
                    <input id="chkbox1" class="chkbox" name="course" value="WAP" type="checkbox">
                    <label class="ival">WAP</label><input id="chkbox2" class="chkbox" name="course" value="WAA" type="checkbox">
                    <label class="ival">WAA</label><input id="chkbox3" class="chkbox" name="course" value="EA" type="checkbox">
                    <label class="ival">EA</label><input id="chkbox4" class="chkbox" name="course" value="SA" type="checkbox">
                    <label class="ival">SA</label>
                </div>
                    <h4>Select Box:</h4>
                    <select id="sellist" name="sellist">
                        <option value="Option1">Option 1</option>
                        <option value="Option2">Option 2</option>
                        <option value="Option3">Option 3</option>
                    </select>
                    <h4>Your message:</h4>
                    <textarea id="txtArea" name="txtArea" rows="5" cols="30"></textarea>
                    <br>
                    <input id="savebutton" class="btn" type="submit" value="Show user's input">
            </form>
        </div>      
    
    </body>
</html>