<!DOCTYPE html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta author="Suleman Asghar">
        <title>Cookie Assignment</title>        
   
        <style>
            label{
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="view-page">
            <h2>User Inputs (Showing from cookies)</h2>
            <div><label>Name: </label><%= name %></div>        
            <div><label>Degree: </label><%= degree %></div>  
            <div><label>Selected Courses: </label><%= courses %></div>
            <div><label>Selected Option:</label><%= seloption %></div> 
            <div><label>Your message:</label><%= message %></div>
        </div>
    </body>
</html>